.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
  
    .textContainer {
      flex: 1;
      align-self: flex-end;
      display: flex;
      align-items: center;
      gap: 20px;
  
      p {
        font-weight: 200;
        font-size: 20px;
        color: gray;
        text-align: right;
      }
  
      hr {
        width: 200px;
        border: 0.5px solid gray;
        border-top: 0.5px solid gray;
      }
    }
  
    .titleContainer {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
  
        img {
          width: 300px;
          height: 100px;
          border-radius: 50px;
          object-fit: cover;
        }
  
        h1 {
          font-size: 96px;
          font-weight: 100;
          text-align: center;
  
          span {
            font-weight: 400;
            color: #d6d6d6;
          }
        }
  
        button {
          width: 300px;
          height: 100px;
          border-radius: 50px;
          background-color: orange;
          border: none;
          font-size: 24px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #e68900;
          }
        }
      }
    }
  
    .listContainer {
      flex: 2;
      display: flex;
      max-width: 1366px;
      margin: auto;
      gap: 20px;
  
      .box {
        flex: 1;
        padding: 50px;
        border: 0.5px solid gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
  
        h2 {
          font-size: 24px;
          margin-bottom: 20px;
        }
  
        p {
          font-size: 16px;
          line-height: 1.6;
          color: #d6d6d6;
          margin-bottom: 30px;
        }
  
        button {
          padding: 10px;
          background-color: orange;
          border: none;
          color: #fff;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #e68900;
          }
        }
      }
    }
  }
  